.floor-plan-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.floor-plan-image {
  width: 100%;
  height: auto;
}

.highlight {
  position: absolute;
  z-index: 10;
  pointer-events: auto;
}

/* Tooltip styling */
.highlight:hover::after {
  content: attr(data-tooltip);  /* Get the content from the data-tooltip attribute */
  position: absolute;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 100;
  top: -25px; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  pointer-events: none;
}

.highlight::after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
